
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    text-decoration: none;
    color:#f48239;
}

a:hover{
    color:#f48239;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    color: #757575;
}

.pleft {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 200;
    text-align: left;
    color: #757575;
    padding-right: 8px;
}

.pleft2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  color: #757575;
  padding-right: 8px;
  margin-bottom: 30px;
}

.pleft3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 200;
  text-align: left;
  color: #757575;
  margin-bottom: 3px;
}


.ulleft {
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 200;
    text-align: left;
    color: #757575;
    padding-right: 0px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.pressicons{
  display:block;
  margin-right: auto;
  margin-left:auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.socialcontainer{
  margin-top: 1px;
}

p.small {
    font-size: 16px;
     text-align: center;
}

.doctorscopy{
    text-align: left;
}

.doctor{
font-weight: 500;
margin-bottom: 10px;
}

.doctorh3{
    text-align: left;
}

.price{
    margin-top: 20px;
    font-size: 35px;
    text-align: center;
}

.price2{
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
}

.panel-heading{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.panel-default>.panel-heading {
  color: #fff;
  background-color: #757575;
  border-color: #757575;
}

.panel-body {
  padding: 15px;
  background-color: #f5f5f6;
}

ul{
    padding-left: 0;
}

ul.list{
    margin-left: 20px;
}

.left-align-p{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 19px;
    text-align: left;
    color: #757575;
    list-style-type: none;
}

.left-align-p li{
   margin-bottom: 10px;
}

.listleft{
    text-align: left;
}

.left-align{
    text-align: left;
}

.footersocial{
    font-size:24px;
}

.footersocial:hover{
    font-size:24px;
}

/*social media hover colors*/

#fa-facebook,
#fa-instagram,
#fa-twitter,
#fa-linkedin,
#fa-pinterest,
#fa-yelp {
    color:#808184;
    opacity: 1;
}

#fa-facebook:hover,
#fa-instagram:hover,
#fa-twitter:hover,
#fa-linkedin:hover,
#fa-pinterest:hover,
#fa-yelp:hover{
     opacity: .5;
}


.footerlink{
    padding-bottom:10px;
    color:#E0E0E0;
}

.footerlink:hover{
  color: #f98238;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


.navbar-default .navbar-nav>li>a {
  font-size: 19px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 0px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}

h1 {
  font-size: 3.4em;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0.4em 0;
}

h2{
  font-size: 1.8em;
  font-weight: 200;
  line-height: 1.4em;
  color: #fff;
}

h3{
    color:#f48239;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 2px;
}

h3.title{
    color:#f48239;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 2px;
}

h3.thank-you{
  margin-top: 110px;
  text-align: left;
  line-height: 1.1em;
}

h4{
    font-size: 23px;
    font-weight: 300;
    color: #616161;
    text-align: center;
}

h4.h4left{
  text-align: left;
  margin-top: 0px;
}

h4.h4left2{
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
}

h4.thank-you{
  margin-top: 100px;
  text-align: left;
  line-height: 1.5em;
}

h5{
    color: #616161;
    font-size: 19px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 0px;
    display: inline-block;
}

h6{
    text-align: left;
    color: #2c2c2c;
}

ol {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 25px;
  font-weight: 200;
  color: #f48239;
}

.img-centered {
    margin: 0 auto;
}

.copy{
    margin-bottom: 75px;
}

.rowstyle{
    margin-top:50px;
    margin-bottom: 40px;
}

.rowstyle2{
    margin-top: 30px;
    margin-bottom: 30px;
}

#logonav{
    margin-bottom: 5px;
    margin-left: 20px;
    width: 90px;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text {
  margin-top: 172px
}

header .intro-text h1{
  font-size: 5.1em;
}

header {
    text-align: center;
    color: #fff;
}

.patient {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  border-radius: 110px;
}

.email{
  width: 425px;
  margin-top: 100px;
  margin-bottom: 0px;
}

.iphone{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 560px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.app-icon{
  width: 50px;
  margin-right: 15px;
}

.apple-icon{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-header-container{
  display: inline-block;
}

/*-------- header image  START---------*/

header.doctorsheader{
      background: url(../images/pager-doctors-hero-1368x500.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: fixed;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.care{
      background: url(../images/pager-services-background-1368x500.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: fixed;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.priceheader{
      background: url(../images/pager-pricing-hero-1368x500.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: fixed;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.about{
  background: url(../images/pager-about-hero-1368x500.jpg);
  -counter-resetwebkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-attachment: fixed;
  /*background-position: -200px 0px;*/
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.business{
      background: url(../images/pager-business-hero-1440x900.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: fixed;
    background-position: 0px -150px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.skin-conditions{
      background: url(../images/skin-conditions.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: fixed;
    background-position: 0px -150px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*------- header images END---------*/

.valueicon{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:125px;
    text-align: center;
}

#valueicon1,
#valueicon2,
#valueicon3{
    visibility: hidden;
}

.investorbadge{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:220px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.investorbadge2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    margin-top: 0px;
    margin-bottom: 8px;
}

img.test6.jpg {
  /* Set rules to fill background */
  max-height: 500px;
  max-width: 100%;
  /* Set up proportionate scaling */
  /* Set up positioning */
  position: fixed;
}

.intro-text{
    margin-top: 26px;
    margin-bottom: 50px;
}

.appcontainer{
    text-align: right;

}

#doctor{
    position: absolute;
    width:700px;
    top:-9px;
    left:-80px;
    z-index: 0;
}

   #applebadge{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        max-height: 50px;
        width: 100%;
        height: auto;
    }

    #androidbadge{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 0px;
        max-height: 49px;
        width: 100%;
    }


.navbar {
    max-height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    -webkit-box-shadow: 0 1px 1px 1px rgba(64,64,64,.1);
    box-shadow: 0 1px 1px 1px rgba(64,64,64,.1);
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
    font-weight: 400;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar .navbar-nav li a:hover {
    -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.navbar-default {
  background-color: rgb(245,245,245);
  border-color: transparent;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}


/*navbar header start */
.navbar-header{
  text-align: center;
}

.navheader{
  text-align: center;
  margin-top: 16px;
  display: none;
}

.navheadercontainer{
  display: inline-block;
  margin: 0 auto;
}
/*navbar header end */

section h2 {
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

.btn-cta{
    color: #f48239;
    background-color: #FFF;
}

.btn-cta:hover{
    color: #DC7533;
    background-color: #E0E0E0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
     transition: all .4s ease-in-out;
}

.form-control {
  display: block;
  width: 100%;
  height: 43px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #424242;
  background-color: #EEEEEE;
  background-image: none;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
}

.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
  box-shadow: none;
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}


.badgescontainer2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 52px;
}

.badges{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    opacity: 0.7;
}

.badges:hover{
    opacity: 1;
     -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.doctors{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:220px;
    border-radius: 110px;
}

.doctors:hover{
  opacity: .6;
     -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.doctorlink{
    color:#4DB8FF;
    padding: 10px;
    font-size: 18px;
}

.learnlink{
    color:#4DB8FF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.centerlink3 {
  color: #f48239;
  padding: 10px 10px 10px 28px;
  font-size: 18px;
  border-radius: 6px;
  background-color: #fff;
  margin-top: 15px;=
  margin-bottom: 15px;
}

.centerlink3:hover {
   color:#e47129;
}

.centerlink{
    color:#4DB8FF;
    padding: 10px 10px 10px 28px;
    font-size: 18px;
}

.centerlink:hover{
    color:#e47129;
}

.centerlink3 {
  color: #f48239;
  padding: 10px 10px 10px 28px;
  font-size: 18px;
  border-radius: 6px;
  background-color: #transparent;
  margin-top: 15px;
  margin-bottom: 15px;
}

#availabilityicons{
    color: #757575;
    text-align: center;
    font-size: 35px;
}

.servicecontainer{
height: 200px;
}

.servicecontainer2{
height: 200px;
}

.howitworkscontainer{
height: 165px;
}

.howitworksicon{
  width:75px;
}

.serviceicon2{
  width:75px;
}

.error_icon{
  margin-top: 165px;
  margin-bottom: 30px;
  width:165px;
}

.delivery-img {
  width: auto
}

.contactform{
  display: block;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 60px;
  background-color: #f5f5f6;
}

.mailto{
  padding:15px 30px 15px 30px;
  color: #fff;
  font-size: 17px;
  background-color: #f98238;
}


.mailto:hover{
  color: #fff;
  background-color: #f48239;
}

.mailto:active{
  color: #fff;
  background-color: #f48239;
}


/*password style begin */

.passwordlogo{
  width: 150px;
  margin-top: 50px;
}

.passwordform{
  background-color: #EEEEEE;
  padding:10px 25px 65px 25px;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.btnsave{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 19px;
  color: #fff;
  background-color: #f98238;
  width: 100%;
}

.btnsave:hover{
  background-color:#e47129;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-control2{
  border-radius: 6px;
}

.form-control2, input {
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 40px;
  border-radius: 4px;
  background-color: #FFF;
  text-align: center;
  width: 100%;
  text-align: left;
  padding-left: 12px;
}

/*password style End */

/* Hamburger Icon Mobile */

.navbar-default .navbar-toggle {
border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(245,245,245,.1);
}

#nav-toggle { cursor: pointer; padding: 13px 30px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 0px;
  height: 3px;
  width: 28px;
  background: #f48239;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -9px;
}
#nav-toggle span:after {
  bottom: -9px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  -webkit-transition: all 420ms ease-in-out;
  -moz-transition:all 420ms ease-in-out;
  -o-transition:all 420ms ease-in-out;
  transition:all 420ms ease-in-out;

}


#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -moz-transition:rotate(45deg);
  -o-transition:rotate(45deg);
  transition:rotate(45deg);
}
#nav-toggle.active span:after {
  -webkit-transform:  translateY(-10px) rotate(-45deg);
   -moz-transition: translateY(-10px) rotate(-45deg);
  -o-transition: translateY(-10px) rotate(-45deg);
  transition: translateY(-10px) rotate(-45deg);
  top: 10px;
}

/* Hamburger Icon Mobile End*/


.btn-primary {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 22px;
font-weight: 200;
letter-spacing: 2px;
width: 100%;
max-width: 220px;
padding: 12px 0px 13px 0px;
color: #ffffff;
background-color: #f98238;
border-color: #f98238;
border-radius: 0px;
margin-top: 0px;
}

.btn-primary:hover {
background-color: #e47129;
border-color: #e47129;
color: #fff;
 -webkit-transition: all .3s ease-in-outq;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#schedulevst{
font-size: 16px;
letter-spacing: 1px;
font-weight: 200;
color:#fff;
padding: 4px 8px 5px 8px;
margin-right: 50px;
margin-top: 13px;
}

.btn-default {
padding: 0px;
color: #f98238;
background-color: #fff;
border-radius:0px;
}

.btn-default:hover {
border-color: #e47129;
color: #fff !important;
}

.btn-outline {
    font-size: 20px;
    color: #BDBDBD;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #f48239;
    background: #fff;

}

.btn-success {
color: #ffffff;
background-color: #f48239;
border-color: #f48239;
border-radius: 8px;
}

.btn-success:hover{
border-color: #DC7533;
background-color: #DC7533;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

}

#quotepic1,
#quotepic2,
#quotepic3{
    visibility: hidden;
}


.quotes{
    text-align: left;
    padding-top: 8px;
}

.quotescontainer{
    margin-top: 30px;
    margin-bottom: 25px;
}

.quoteicon{
    position: absolute;
    font-size: 22px !important;
    color:#f98238 ;
    left:-20px;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}


.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0px;
    opacity: 1.0;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h4 {
    margin-bottom: 30px;
}

footer .footer-above {
    background-color: #fff;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

#footercontainer{
    margin-top: 10px;
    margin-bottom:15px;
    margin-left: 0px;
}

/*=========*/

.row-about-description p{
  font-size: 21px;
}

.container-about-team{
  padding: 0 25px;
}

.team-row{
  margin-bottom: 42px;
  text-align: center;
}

.team-row .col-sm-4{
  margin-bottom: 0.8em;
}

.team-row .last-team{
  margin: auto;
  float: none;
}

.team-row .col-team-box{
  width: 32.333333%;
  min-width: 252px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1.3em
}

.col-team-box h4{
  font-size: 29px;
}

.row-investors{
  text-align: center;
}

.col-box-investors{
  width: 32.3333%;
  min-width: 310px;
  display: inline-block;
  vertical-align: middle;
}

.col-box-investors .investorbadge2{
  width: 250px;
}

.col-box-investors .investorbadge{
  width: 310px;
}

.col-box-investors.logo-nea img{
  width: 91px;
}

.about-section-title{
  margin-top: 41px;
  margin-bottom: 38px;
  font-size: 47px;
}

.row-about-press{
  text-align: center;
}

.row-about-press .col-sm-4{
  width: 24%;
  min-width: 232px;
  display: inline-block;
  vertical-align: middle;
  float: none;
}


/*---Signup Style End--*/

.footertext{
  text-align: left;
  font-size: 12px;
  padding-left: 30px;
}

ul.linkcontainer{
   text-align: left;
    padding-left:20px;
    margin-top: 30px;
}

ul.linkcontainer2{
   text-align: right;
    margin-top: 30px;
    margin-left: -40px;
}

ul.stars_li {
  color: #757575;
}


.footerlink{
    padding-bottom:10px;
    color:#808184;
}

.footerlink:hover{
  color: #f98238;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.socialcontainer{
  display: block;
  text-align: left;
}

.ulcontainer{
  height: 160px
}

ul.linkcontainer li{
    display: inline-block;
    margin: 0px 5px 5px 5px;
    padding: 5px;
}

ul.linkcontainer2 li{
    display: inline-block;
    margin: 0px 5px 5px 5px;
    padding: 5px;
}

.btn-social {
    display: inline;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
}

.fa-fw {
  width: .8em !important;
  text-align: center;
}


.footerlink{
    padding-bottom:10px;
    color:#808184;
}

.footerlink:hover{
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.socialcontainer{
  display: block;
  text-align: left;
}


.btn-social {
    display: inline;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
}

.fa-fw {
  width: .8em !important;
  text-align: center;
}

ul.carelist{
    font-size: 17px;
}

.btn-social {
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    font-size: 19px;
    line-height: 2px;
    background-color: rgba(36, 36, 36, 0.6);
    border:none;
    margin-right:200px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.btn-top {
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 23px;
font-weight: 400;
width: 100%;
padding: 14px 12px 16px 12px;
color: #ffffff;
background-color: #f98238;
border-color: #f98238;
border-radius: 4px;
}

@media (min-width: 1px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media(min-width:980px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 90px;
    }

    header {
    background-position: 0px -20px;
    }
}

@media (min-width: 768px) and (max-width: 1028px) {
  header {
    background-position: 0px 0px;
    }

    .navbar-form {
      display: inline-block;
      margin-top: 5px;
      margin-bottom: 30px;
    }

    header.doctorsheader{
      background: url(../images/pager-doctors-hero-1368x500.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.care{
      background: url(../images/pager-services-background-1368x500.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.priceheader{
      background: url(../images/pager-pricing-hero-1368x500.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.about{
  background: url(../images/pager-about-hero-1368x500.jpg);
  -counter-resetwebkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-attachment: scroll;
  /*background-position: -200px 0px;*/
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  }

  header.business{
      background: url(../images/pager-business-hero-1440x900.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.business{
      background: url(../images/pager-business-hero-1440x900.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.skin-conditions{
    background-attachment: scroll;
    background-position: 0px 0px;
     -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.ulcontainer{
  height: 200px
}


 }

@media(min-width:768px) {
    header .container {
        height:490px;
        padding-top: 60px;
        padding-bottom: 90px;
    }

    header .intro-text .name {
        font-size: 4.5em;
        margin-top: 160px;
    }

    header .intro-text .skills {
        font-size: 1.75em;
        padding-bottom: 20px;
    }

    #applebadge{
        max-height: 50px;
        width: 100%;
        height: auto;

    }

    #androidbadge{
         max-height: 50px;
         width: 90%;
         height: auto;

    }

}

@media(min-width:768px) {
  .navbar-fixed-top {
        padding: 6px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 0px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }



}

@media(max-width:767px) {


    section.first {
        padding-top: 75px;
    }

    header {
    background-position: 0px 0px;
    }

    header .intro-text {
    margin-top:55px;
    }

    h1{
      font-size:3em;
      margin-top: 0px;
    }

    h2{
      font-size: 1.5em;
    }

     h3{
        font-size: 36px;
    }

    h3.h3title{
    margin-top: 0px;
    }

    h4{
      font-size:24px;
    }


    h4.h4left{
    text-align: center;
    margin-top: 20px;
    }

    .pleft{
    text-align: center;
    }

    .quotepic{
    display:block;
    margin-left: auto;
    margin-right: auto;
    }

    .quotes{
        left:45px;
    }

    #iphone6{
    margin-top: 5px;
    width: 400px;
    height:auto;
    left: 100px;
    }

    .appcontainer{
    text-align: center;
    margin-top: 20px;
    }

   #applebadge{
        max-height: 40px;
        width: auto;
        height:auto;
    }

    #androidbadge{
         max-height: 39px;
         width: auto;
         height:auto;
    }

    #schedulevst{
    font-size: 14px !important;
    padding: 4px 8px 5px 8px !important;
    margin-right: 17px !important;
    margin-top: 14px !important;
    }

   #logonav {
    width: 70px;
    margin-left: 5px;
    }

    .howitworksicon{
    width:55px;
    }

     header .container {
        height:350px;
    }

      header .intro-text .name {
        font-size: 3em;
        margin-top: 50px;
    }

    header.doctorsheader{
      background: url(../images/pager-doctors-hero-680x900.jpg);
        -counter-resetwebkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
    }

  header.care{
      background: url(../images/care1mobile.jpg);
        -counter-resetwebkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
    }

    header.priceheader{
      background: url(../images/pager-pricing-hero-680x700.jpg);
        -counter-resetwebkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  }

    header.about{
  background: url(../images/pager-about-hero-1368x500.jpg);
  -counter-resetwebkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-attachment: scroll;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


header.business{
      background: url(../images/pager-business-hero-1440x900.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.skin-conditions{
      background: url(../images/skin-conditions-mobile.jpg);
        -counter-resetwebkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

  .navbar-form .form-control {
  width: 200px;
}
      .navbar-form {
      display: inline-block;
      margin-top: 15px;
    }

    .navbar-form {
      display: inline-block;
      margin-top: 0px;
      margin-bottom: 30px;
    }

    .doctors{
      margin-bottom: 50px;
    }

    .doctorscopy{
    text-align: center
}

.servicecontainer{
height: 180px;
}

.servicecontainer2{
height: 100px;
}

.passwordform{
  background-color: #EEEEEE;
  padding:10px 10px 65px 10px;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.ulcontainer{
  text-align: center;
}

.socialcontainer{
  margin-top: 0px;
}

.footertext{
  text-align: center;
  padding-left: 0px;
}

ul.linkcontainer {
  text-align: center;
  padding-left: 0px;
  margin-top: 30px;
}

ul.linkcontainer2 {
  text-align: center;
  margin-top: 0px;
  padding-left: 25px;
}

.email{
  width: 350px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.iphone{
  margin-left: auto;
  width: 600px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left:-30px;
}


}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/*-- end media queries--*/
