@(title: String)(implicit messages: Messages, requestHeader: RequestHeader)

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebSite" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">      <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">

        <title>@title</title>
        <meta name="description" content="Pager is a mobile service that gives doctors the power to provide more patients with high-quality personal care through house calls. Learn More.">
        <meta name="keywords" content="about pager, pager.com, pager ny, pager doctors, Philip Eytan, Gaspard de Dreuzy, Oscar Salazar" />
        <meta name="robots" content="index, follow" />
        <meta name="language" content="en-us" />
        <link rel="canonical" href="https://pager.com/about" />
        <link rel="publisher" href="https://plus.google.com/101236825855071197223/about?hl=en"/>

            <!---// Open Graph Tags -->
        <meta property="og:title" content="Learn About Pager"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://pager.com/img/pager-homepage-fb-og-1200x1200.jpg"/>
        <meta property="og:image:type" content="image/jpg">
        <meta property="og:url" content="https://pager.com/about"/>
        <meta property="og:site_name" content="Pager" />
        <meta property="og:description" content="Pager is a mobile app that gives doctors the power to provide more patients with high-quality personal care through house calls. Learn More."/>
        <meta property="og:locale" content="en_US" />
        <meta property="fb:admins" content="621670044567977"/>

            <!---// Twitter Cards -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="https://pager.com/about"/>
        <meta name="twitter:title" content="Learn About Pager"/>
        <meta name="twitter:description" content="Pager is a mobile app that gives doctors the power to provide more patients with high-quality personal care through house calls. Learn More."/>
        <meta name="twitter:image" content="https://pager.com/img/pager-homepage-tw-750x560.jpg"/>

            <!---// Schema Microdata WebPage -->
        <meta itemprop="name" content="Pager"/>
        <meta itemprop="url" content="https://pager.com/about"/>
        <meta itemprop="description" content="Pager is a mobile app that gives doctors the power to provide more patients with high-quality personal care through house calls. Learn More."/>
        <meta itemprop="image" content="https://pager.com/img/pager-homepage-tw-750x560.jpg"/>

        <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom CSS -->
        <link href="@routes.Assets.versioned("stylesheets/internal.css")" rel="stylesheet">

            <!-- Custom Fonts -->
        <link href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/hover.css")" rel="stylesheet" media="all">

            <!--Custom animation-->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/animation.css")">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/normalize.css")"/>

        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/pager-favicon-orange.png")">


            <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
                window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
                    $.src="//v2.zopim.com/?2Ac0CRYhmYK68ccMqh1tIjYKmAKn1in7";z.t=+new Date;$.
                            type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
        </script>
            <!--End of Zopim Live Chat Script-->

            <!--Enable optimizely-->
        <script src="//cdn.optimizely.com/js/1189750258.js"></script>

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="page-top" class="index" itemscope itemtype="http://schema.org/Organization">

            <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-54C8WV"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-54C8WV');</script>
            <!-- End Google Tag Manager -->

            <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span></span></a>

                    <a class="navbar-brand page-scroll hvr-pulse" href="" itemprop="url"><img id="logonav" alt="Pager logo" src="@routes.Assets.versioned("images/new-pager-logo.png")" itemprop="logo"></a>

                    <div class="navheadercontainer hidden-sm hidden-xs">
                        <p class="navheader">Available in NYC and San Francisco every day from 8AM to 10PM</p>
                    </div>

                    <div class="pull-right">
                        <a href="https://getcare.pager.com/#/login" id="schedulevst" class="btn btn-default hvr-radial-out">Request a Visit</a>
                    </div>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/services.html">Services</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/doctors.html">Doctors</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/pricing.html">Pricing</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/for-business.html">For Business</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/about.html">About Us</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/support.html">Support</a>
                        </li>
                    </ul>
                    <br>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container-fluid -->
        </nav>

            <!-- Header -->
        <header class="about">
            <div id="headerlayer" class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="intro-text">
                            <h1>About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div style="background-color:#f5f5f6;">
            <div class="container">
                <div class="row row-about-description" style="margin-top:30px; margin-bottom:19px" >
                    <div class="col-xs-12 col-md-offset-1 col-md-10" itemprop="description">
                        <p>
                            <span itemprop="name">Pager</span> is a healthcare startup reinventing the traditional doctor-patient experience. Our on-demand service connects you with board-certified doctors that provide the care you need, whenever and wherever. Doctors will come to your home, office or hotel within 2 hours – a convenient alternative to crowded emergency rooms and busy doctor’s offices. The Pager app takes care of everything so the patient can focus on getting better faster.
                            <br><br>
                            Pager was launched in 2014 in New York City by an experienced group of serial entrepreneurs from successful startups (Uber, Teladoc, Gilt, Buzzfeed). Inspired by a desire to improve access to healthcare through technology, founders Gaspard de Dreuzy, Philip Eytan and Oscar Salazar combined their passion and expertise to simplify the medical experience and deliver the best possible care to patients.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container container-about-team">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="about-section-title">Team</h3>
                    </div>
                </div>
                <div class="row team-row">
                    <div class="col-team-box" itemprop="founder" itemscope itemtype="http://schema.org/Person">
                        <h4><span itemprop="givenName">Gaspard</span> <span itemprop="familyName">de Dreuzy</span></h4>
                        <p><span itemprop="description">Co-Founder and CEO</span></p>
                    </div>
                    <div class="col-team-box" itemprop="founder" itemscope itemtype="http://schema.org/Person">
                        <h4><span itemprop="givenName">Philip</span> <span itemprop="familyName">Eytan</span></h4>
                        <p><span itemprop="description">Co-Founder and President</span>
                        </p>
                    </div>
                    <div class="col-team-box" itemprop="founder" itemscope itemtype="http://schema.org/Person">
                        <h4><span itemprop="givenName">Oscar</span> <span itemprop="familyName">Salazar</span></h4>
                        <p><span itemprop="description">Co-Founder and Chief Product Officer</span>
                        </p>
                    </div>
                    <div class="col-team-box" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                        <h4><span itemprop="givenName">Aran</span> <span itemprop="familyName">Ron</span></h4>
                        <p><span itemprop="description">Chief Medical Officer</span>
                        </p>
                    </div>
                    <div class="col-team-box" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                        <h4><span itemprop="givenName">Richard</span> <span itemprop="familyName">Boxer</span></h4>
                        <p><span itemprop="description">Chief Telehealth Innovation Officer</span>
                        </p>
                    </div>
                    <div class="col-team-box" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                        <h4><span itemprop="givenName">Toby</span> <span itemprop="familyName">Hervey</span></h4>
                        <p><span itemprop="description">General Manager</span>
                        </p>
                    </div>
                    <div class="col-team-box" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                        <h4><span itemprop="givenName">Andrew</span> <span itemprop="familyName">Chomer</span></h4>
                        <p><span itemprop="description">VP of Marketing</span>
                        </p>
                    </div>
                    <div class="col-team-box" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                        <h4><span itemprop="givenName">Sameer</span> <span itemprop="familyName">Khanna</span></h4>
                        <p><span itemprop="description">VP of Engineering</span>
                        </p>
                    </div>
                    <div class="col-team-box" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                        <h4><span itemprop="givenName">Aarti</span> <span itemprop="familyName">Manwani</span></h4>
                        <p><span itemprop="description">Director of Product</span>
                        </p>
                    </div>
                    <div class="col-team-box" itemprop="employee" itemscope itemtype="http://schema.org/Person">
                        <h4><span itemprop="givenName">Tracy</span> <span itemprop="familyName">Avin</span></h4>
                        <p><span itemprop="description">Director of Enterprise</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color:#f5f5f6;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                        <h3 class="about-section-title">Investors</h3>
                    </div>
                </div>
                <div class="row row-investors" style="margin-top:0px; margin-bottom:40px;">
                    <a class="col-box-investors" href="http://montageventures.com/">
                        <img class="investorbadge2" alt="Montage Ventures logo"  style="margin-top:10px;" src= "@routes.Assets.versioned("images/badges/montage-ventures-logo-240x90.png")">
                    </a>
                        <!-- Summation Health Start
                <a class="col-box-investors" href="http://shv.io/">
                    <img class="investorbadge" style="margin-top:5px;" alt="Summation Health Ventures logo"  src= "https://pager.com/img/badges/summation-health-ventures-logo-497x144.png">
                </a>
                Summation Health End-->
                    <a class="col-box-investors" href="http://www.luxcapital.com/">
                        <img class="investorbadge2" alt="Lux Capital logo" src= "@routes.Assets.versioned("images/badges/lux-capital-logo-400x158.png")">
                    </a>
                    <a class="col-box-investors logo-nea" href="http://www.nea.com/">
                        <img class="investorbadge2" alt="Nea logo"  style="margin-top:10px;" src= "@routes.Assets.versioned("images/badges/nea-logo-785x286.png")">
                    </a>
                    <div class="col-box-investors">
                        <img class="investorbadge2" alt="Sound Ventures logo"  style="margin-top:10px;" src= "@routes.Assets.versioned("images/badges/sound-ventures-logo-400x77.png")">
                    </div>
                    <a class="col-box-investors" href="http://www.goodwatercap.com/">
                        <img class="investorbadge2" alt="Goodwater logo"  style="margin-top:10px;" src= "@routes.Assets.versioned("images/badges/goodwater-logo-600x80.png")">
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                        <h3 class="about-section-title">Press</h3>
                    </div>
                </div>
                <div class="row row-about-press" style="margin-top:0px; margin-bottom:50px;">
                    <a class="col-sm-4" href="http://www.cbsnews.com/news/telemedicine-mobile-health-care-apps-pager-bring-medical-care-to-you/">
                        <img class="investorbadge2" alt="CBS logo"  style="margin-top:10px; width:120px; " src= "@routes.Assets.versioned("images/press/cbs-logo-467x137.png")">
                    </a>
                    <a class="col-sm-4" href="http://blogs.wsj.com/digits/2014/05/08/early-uber-engineer-launches-pager-a-doctor-makes-house-call-app/">
                        <img class="investorbadge2" alt="The wall street journal logo"  style="margin-top:10px;" src= "@routes.Assets.versioned("images/press/wsj-logo-1200x167.png")">
                    </a>
                    <a class="col-sm-4" href="http://www.cnn.com/2014/07/31/health/doctor-house-call-app/">
                        <img class="investorbadge2" alt="CNN logo"  style="margin-top:10px; width:100px;" src= "@routes.Assets.versioned("images/press/cnn-logo-950x481.png")">
                    </a>
                    <a class="col-sm-4" href="http://www.forbes.com/sites/dandiamond/2015/05/04/the-uber-for-doctors-is-here-and-it-isnt-what-you-think/">
                        <img class="investorbadge2" alt="Forbes logo"  style="margin-top:10px; width:125px;" src= "@routes.Assets.versioned("images/press/forbes-logo-440x114.png")">
                    </a>
                    <a class="col-sm-4" href="http://www.huffingtonpost.com/2014/05/12/pager-doctor-house-calls_n_5296263.html">
                        <img class="investorbadge2" alt="The huffington post logo"  style="margin-top:10px; width:185px;" src= "@routes.Assets.versioned("images/press/huffington-post-logo-1024x445.png")">
                    </a>
                    <a class="col-sm-4" href="http://7online.com/health/new-app-brings-the-doctor-to-you-for-house-calls/402491/">
                        <img class="investorbadge2" alt="abc7 logo"  style="margin-top:10px; width:230px;" src= "@routes.Assets.versioned("images/press/abc7-logo-400x85.png")">
                    </a>
                    <a class="col-sm-4" href="http://tech.co/doctor-demand-future-demand-healthcare-2015-03">
                        <img class="investorbadge2" alt="TECHCO logo"  style="margin-top:10px; width:150px;" src= "@routes.Assets.versioned("images/press/tech-co.png")">
                    </a>
                    <a class="col-sm-4" href="http://venturebeat.com/2015/03/10/pager-dials-up-10-4m-for-mobile-telemedicine-service/">
                        <img class="investorbadge2" alt="VentureBeat logo"  style="margin-top:10px;" src= "@routes.Assets.versioned("images/press/venturebeat-logo.png")">
                    </a>
                </div>
                <div class="row" style="margin-top:0px; margin-bottom:50px;">
                    <div class="col-xs-12 text-center">
                        <br>
                        <a style="font-size:17px;" href="mailto:press@@pager.com"> <img style="width:50px; margin-right:20px;" src="@routes.Assets.versioned("images/icons/press-sheets.png")" alt="..">Contact us for press inquiries.</a>
                    </div>
                </div>
            </div>
        </div>
            <!-- Footer -->
        <footer>
            <div class="footer-above" style="background-color:#f5f5f6;">
                <div class="container">
                    <div class="row" style="margin-bottom:40px;">
                        <div class="col-xs-12 col-sm-5 col-md-7">
                            <ul class="linkcontainer">
                                <li>
                                    <a class="footerlink" href="https://boards.greenhouse.io/pager?t=kf058s#.VaMmUhNVikp" target="_blank">Careers</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/terms.html">Terms</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/privacy.html">Privacy</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/about.html">About Us</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/support.html">Support</a>
                                </li>
                            </ul>

                            <p class="footertext hidden-xs">Available from 8am - 10pm</p>
                            <p class="footertext visible-xs">Available from 8am - 10pm</p>
                        </div>

                        <div class="col-xs-12 col-sm-7 col-md-5">
                            <meta itemprop="sameAs" content="https://www.wikidata.org/wiki/Q19981925">
                            <ul class="linkcontainer2 content-social-footer">
                                <li>
                                    <a itemprop="sameAs" class="footersocial btn-social" href="https://www.facebook.com/GetPager" target="_blank" id="fa-facebook"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a itemprop="sameAs" class="footersocial btn-social" href="https://www.instagram.com/GetPager" target="_blank" id="fa-instagram"> <i class="fa fa-fw fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a itemprop="sameAs" class="footersocial btn-social" href="http://twitter.com/getpager" target="_blank" id="fa-twitter"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a itemprop="sameAs" class="footersocial btn-social" href="https://www.pinterest.com/getpager/" target="_blank" id="fa-pinterest"><i class="fa fa-fw fa-pinterest"></i></a>
                                </li>
                                <li>
                                    <a itemprop="sameAs" class="footersocial btn-social" href="http://www.yelp.com/biz/pager-new-york" target="_blank" id="fa-yelp"><i class="fa fa-fw fa-yelp"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

            <!-- jQuery -->
        <script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>

            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>

            <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/classie.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/cbpAnimatedHeader.js")"></script>

            <!-- Contact Form JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/jqBootstrapValidation.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/contact_me.js")"></script>

            <!-- Custom Theme JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/internal.js")"></script>


    </body>

</html>