@(title: String)(implicit messages: Messages, requestHeader: RequestHeader)

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebSite" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">

        <title>@title</title>
        <meta name="description" content="Meet our experienced house call doctors ready to treat you at your home, office, or hotel. Our doctors can handle all your urgent care needs. Learn More."/>
        <meta name="keywords" content="doctor house calls, doctor home visits, urgent care, on demand doctors, doctors on demand, pager, pager app, doctors at your door"/>
        <meta name="robots" content="index, follow"/>
        <meta name="language" content="en-us" />
        <link rel="canonical" href="https://pager.com/doctors.html" />
        <link rel="publisher" href="https://plus.google.com/101236825855071197223/about?hl=en"/>

            <!---// Open Graph Tags -->
        <meta property="og:title" content="Meet Our Board-Certified House Call Doctors Servicing NYC & SF"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://pager.com/img/pager-homepage-fb-og-1200x1200.jpg"/>
        <meta property="og:image:type" content="image/jpg"/>
        <meta property="og:url" content="https://pager.com/doctors"/>
        <meta property="og:description" content="Meet our experienced house call doctors ready to treat you at your home, office, or hotel. Our doctors can handle all your urgent care needs. Learn More."/>
        <meta property="og:locale" content="en_US" />
        <meta property="fb:admins" content="621670044567977"/>

            <!---// Twitter Summary Cards -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="https://pager.com/doctors"/>
        <meta name="twitter:title" content="Meet Our Board-Certified House Call Doctors Servicing NYC & SF"/>
        <meta name="twitter:description" content="Meet our experienced house call doctors ready to treat you at your home, office, or hotel. Our doctors can handle all your urgent care needs. Learn More."/>
        <meta name="twitter:image" content="https://pager.com/img/pager-homepage-tw-750x560.jpg"/>

            <!---// Schema Microdata WebPage -->
        <meta itemprop="name" content="Pager"/>
        <meta itemprop="url" content="https://pager.com/doctors"/>
        <meta itemprop="description" content="Meet our experienced house call doctors ready to treat you at your home, office, or hotel. Our doctors can handle all your urgent care needs. Learn More."/>
        <meta itemprop="image" content="https://pager.com/img/pager-homepage-tw-750x560.jpg"/>

        <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom CSS -->
        <link href="@routes.Assets.versioned("stylesheets/internal.css")" rel="stylesheet">

            <!-- Custom Fonts -->
        <link href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/hover.css")" rel="stylesheet" media="all">


            <!--Custom animation-->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/animation.css")">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/normalize.css")"/>

        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/pager-favicon-orange.png")">

            <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
                window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
                    $.src="//v2.zopim.com/?2Ac0CRYhmYK68ccMqh1tIjYKmAKn1in7";z.t=+new Date;$.
                            type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
        </script>
            <!--End of Zopim Live Chat Script-->


            <!--Enable optimizely-->
        <script src="//cdn.optimizely.com/js/1189750258.js"></script>

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="page-top" class="index">

            <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-54C8WV"
        height="0" width="0" style="display:none ; visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-54C8WV');</script>
            <!-- End Google Tag Manager -->

            <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span></span></a>

                    <a class="navbar-brand page-scroll hvr-pulse" href=""><img id="logonav" alt="..." src="@routes.Assets.versioned("images/new-pager-logo.png")"></a>

                    <div class="navheadercontainer hidden-sm hidden-xs">
                        <p class="navheader">Available in NYC and San Francisco every day from 8AM to 10PM</p>
                    </div>

                    <div class="pull-right">
                        <a href="https://getcare.pager.com/#/login" id="schedulevst" class="btn btn-default hvr-radial-out">
                            Request a Visit</a>
                    </div>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/services.html">Services</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/doctors.html">Doctors</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/pricing.html">Pricing</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/for-business.html">For Business</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/about.html">About Us</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/support.html">Support</a>
                        </li>
                    </ul>
                    <br>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container-fluid -->
        </nav>

            <!-- Header -->
        <header class="doctorsheader">
            <div id="headerlayer" class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="intro-text">
                            <h1>Meet the Doctors</h1>
                            <h2>
                                Board-certified doctors who believe that quality care and convenience should co-exist in healthcare.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

            <!-- Doctors-->
        <div class="container">
            <div itemscope itemtype="http://schema.org/Person" class="row rowstyle" style="margin-top:70px ;">
                <div class="col-xs-12 col-sm-4">
                    <a href="#"><img itemprop="image" class="doctors" src="@routes.Assets.versioned("images/doctors/pager-dr-jasper-schmidt-488x488.jpg")" alt="Profile photo for Pager house call doctor Jasper Schmidt." title="Pager House Call Doctor Jasper Schmidt"></a>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <h4 class="doctorscopy"><span itemprop="name">Jasper Schmidt</span>
                        , <span itemprop="honorificSuffix">MD</span></h4>
                    <br>
                    <ul class="left-align-p">
                        <li><h5 class="doctor">Speciality:</h5><br> Emergency Medicine
                        </li>
                        <li><h5 class="doctor">Years Practicing:</h5><br> 11
                        </li>
                        <li><h5 class="doctor">Education:</h5><br><span itemprop="alumniOf">New York University</span>
                            , <span itemprop="alumniOf">SUNY Brooklyn School of Medicine
                            </span></li>
                        <li><h5 class="doctor">Residency:</h5><br>
                            New York University / Bellevue Emergency Medicine Residency Program
                    <li><h5 class="doctor">Board Certification: </h5><br> <span itemprop="memberOf">
                        American Board of Emergency Medicine
                    </span>
                    </li>
                        <li><h5 class="doctor">Awards:</h5><br> <span itemprop="award">
                            AOA for medical scholastic achievement</span>, <span itemprop="award">
                            Dr. Joshua H. Weiner Award for medical study abroad</span>, <span itemprop="award">
                            Merck Award for excellence in Internal Medicine</span>
                        </li>
                        <li><h5 class="doctor">Professional Society Memberships:</h5><br>  <span itemprop="memberOf">
                            American College of Emergency Physicians</span>
                        </li>
                        <li><h5 class="doctor">Additional Languages Spoken:</h5><br> Japanese and Spanish
                        </li>
                        <li>
                            <br>
                            <span itemprop="description">
                                Jasper believes in the power of information and communication to support patients in their time of need, while respecting their individual values and preferences. He strives to give unbiased advice, let each person participate actively in all decisions related to their health and health care, and use evidence as a tool, not as a determinant of practice.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>


            <section style="padding-top:10px ;" id="Kim">
                <hr>
                <br>
                <div itemscope itemtype="http://schema.org/Person" class="row rowstyle">
                    <div class="col-xs-12 col-sm-4">
                        <a href="#"><img itemprop="image" class="doctors" src="@routes.Assets.versioned("images/doctors/pager-dr-kim-henderson-488x488.jpg")" alt="Profile photo for Pager house call doctor Kim Henderson of Mount Sinai Beth Israel hospital." title="Pager House Call Doctor Kim Henderson"></a>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <h4 class="doctorscopy"><span itemprop="name">Kim Henderson</span>
                            , <span itemprop="honorificSuffix">MD</span>, <span itemprop="honorificSuffix">JD</span></h4>
                        <br>
                        <ul class="left-align-p">
                            <li><h5 class="doctor">Speciality:</h5><br> Emergency Medicine
                            </li>
                            <li><h5 class="doctor">Years Practicing:</h5><br> 14
                            </li>
                            <li><h5 class="doctor">Education:</h5><br><span itemprop="alumniOf">
                                Georgetown University School of Medicine
                            </span>, <span itemprop="alumniOf">Georgetown University School of Law
                            </span>
                            </li>
                            <li><h5 class="doctor">Residency:</h5><br> George Washington University Medical Center
                            </li>
                            <li><h5 class="doctor">Board Certification:</h5> <br> <span itemprop="memberOf">
                                American Board of Emergency Medicine
                            </span>
                            </li>
                            <li><h5 class="doctor">Hospital Affiliations:</h5><br> <span itemprop="affiliation">
                                Beth Israel Medical Center
                            </span>
                            </li>
                            <li><h5 class="doctor">Awards:</h5><br> <span itemprop="award">
                                Karen Seitel Care and Compassion Award (Beth Israel Medical Center)</span>
                                , <span itemprop="award">
                                    Edith SeVille Coale Medical Scholarship (GeorgetownUniversity Medical Center)</span>
                            </li>
                            <li><h5 class="doctor">
                                Professional Society Memberships:</h5><br>  <span itemprop="memberOf">
                                Society for Academic Emergency Medicine</span>, <span itemprop="memberOf">
                                American College of Emergency Physicians</span>, <span itemprop="memberOf">
                                District of Columbia Bar Association</span>, <span itemprop="memberOf">
                                New York Bar Association</span>
                            </li>
                            <li>
                                <br>
                                <span itemprop="description">
                                    Kim believes in treating the whole patient – physically and mentally. She believes in a collaborative approach to care, listening intently to her patients and establishing an effective dialogue. Kim aims to help the patient navigate through and distill information to ensure the highest patient care.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section style="padding-top:10px ;" id="Toko">
                <hr>
                <br>
                <div itemscope itemtype="http://schema.org/Person" class="row rowstyle" style="margin-bottom:82px ;">
                    <div class="col-xs-12 col-sm-4">
                        <a href="#"><img itemprop="image" class="doctors" src="@routes.Assets.versioned("images/doctors/pager-dr-toko-morimoto-488x488.jpg")" alt="Profile photo for Pager house call doctor Toko Morimoto of Mount Sinai St. Luke's Israel hospital." title="Pager House Call Doctor Toko Morimoto"></a>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <h4 class="doctorscopy"><span itemprop="name">Toko Morimoto</span>
                            , <span itemprop="honorificSuffix">MD</span></h4>
                        <br>
                        <ul class="left-align-p">
                            <li><h5 class="doctor">Speciality:</h5><br> Emergency Medicine
                            </li>
                            <li><h5 class="doctor">Years Practicing:</h5><br> 11
                            </li>
                            <li><h5 class="doctor">Education:</h5><br> <span itemprop="alumniOf">
                                SUNY Stony Brook School of Medicine
                            </span>
                            </li>
                            <li><h5 class="doctor">Residency:</h5><br> St. Luke’s-Roosevelt Emergency Medicine Residency
                        <li><h5 class="doctor">Board Certification:</h5> <br> <span itemprop="memberOf">
                            American Board of Emergency Medicine
                        </span>
                        </li>
                            <li><h5 class="doctor">Hospital Affiliations:</h5><br> <span itemprop="affiliation">
                                Richmond University Medical Center in Staten Island</span>
                                , <span itemprop="affiliation">Jersey City Medical Center</span>
                                , and <span itemprop="affiliation">Mount Sinai St. Luke's Hospital Center</span>
                            </li>
                            <li>
                                <br>
                                <span itemprop="description">
                                    Toko provides down-to-earth medical care. She nurtures relationships with patients where they can ask questions and communicate with her without any hesitation. Her style is compassionate, holistic, and evidence-based, and believes putting patients first is what health care is truly about.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>


            <hr>
            <br>
            <div itemscope itemtype="http://schema.org/Person" class="row rowstyle" style="margin-bottom:82px ;" id="Brijal">
                <div class="col-xs-12 col-sm-4">
                    <a href="#"><img itemprop="image" class="doctors" src="@routes.Assets.versioned("images/doctors/patel_2x.jpg")" alt="Profile photo for Pager house call doctor Brijal Patel." title="Pager House Call Doctor Brijal Patel"></a>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <h4 class="doctorscopy"><span itemprop="name">Brijal Patel</span>, <span itemprop="honorificSuffix">
                        MD</span></h4>
                    <br>
                    <ul class="left-align-p">
                        <li><h5 class="doctor">Speciality:</h5><br> Emergency Medicine
                        </li>
                        <li><h5 class="doctor">Years Practicing:</h5><br> 9
                        </li>
                        <li><h5 class="doctor">Education:</h5><br> <span itemprop="alumniOf">
                            University of Cincinnati College of Medicine
                        </span>
                        </li>
                        <li><h5 class="doctor">Residency:</h5><br> Kings County SUNY Downstate Residency
                    <li><h5 class="doctor">Board Certification:</h5> <br> <span itemprop="memberOf">
                        American Board of Emergency Medicine
                    </span>
                    </li>
                        <li>
                            <br>
                            <span itemprop="description">
                                Brijal believes communication and education are the keys to a good patient-doctor relationship. She strives to have open and honest conversations with her patients about their care. Brijal also believes in evidence-based medicine and uses it as the basis of her practice.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <br>
            <section style="padding-top:10px ;" id="Evan">
                <div itemscope itemtype="http://schema.org/Person" class="row rowstyle" style="margin-bottom:82px ;">
                    <div class="col-xs-12 col-sm-4">
                        <a href="#"><img itemprop="image" class="doctors" src="@routes.Assets.versioned("images/doctors/cohen_2x.jpg")" alt="Profile photo for Pager house call doctor Evan Cohen." title="Pager House Call Doctor Evan Cohen"></a>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <h4 class="doctorscopy"><span itemprop="name">Evan Cohen</span>
                            , <span itemprop="honorificSuffix">MD</span></h4>
                        <br>
                        <ul class="left-align-p">
                            <li><h5 class="doctor">Speciality:</h5><br> Emergency Medicine
                            </li>
                            <li><h5 class="doctor">Years Practicing:</h5><br> 7
                            </li>
                            <li><h5 class="doctor">Education:</h5><br> <span itemprop="alumniOf">
                                SUNY Upstate Medical University
                            </span>
                            </li>
                            <li><h5 class="doctor">Residency:</h5><br> Cooper University Hospital
                        <li><h5 class="doctor">Board Certification:</h5> <br> <span itemprop="memberOf">
                            American Board of Emergency Medicine
                        </span>
                        </li>
                            <li>
                                <br>
                                <span itemprop="description">
                                    Evan believes in sharing the decision making model between himself and the patient. He focuses all of his attention on the patient he is working with, and takes care to be mindful and present.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>


        <footer>
            <div class="footer-above" style="background-color:#f5f5f6 ;">
                <div class="container">
                    <div class="row" style="margin-bottom:40px ;">
                        <div class="col-xs-12 col-sm-5 col-md-7">
                            <ul class="linkcontainer">
                                <li>
                                    <a class="footerlink" href="https://boards.greenhouse.io/pager?t=kf058s#.VSfhdBPF_0s" target="_blank">
                                        Careers</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/terms.html">Terms</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/privacy.html">Privacy</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/about.html">About Us</a>
                                </li>
                            </ul>
                            <p class="footertext hidden-xs">
                                Available from 8am - 10pm
                            </p>
                            <p class="footertext visible-xs">
                                Available from 8am - 10pm
                            </p>
                            <p class="footertext">&copy; 2015 Pager, Inc. All rights reserved.</p>
                        </div>

                        <div class="col-xs-12 col-sm-7 col-md-5">
                            <ul class="linkcontainer2">
                                <li>
                                    <a class="footersocial btn-social" href="https://www.facebook.com/GetPager" target="_blank" id="fa-facebook"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="footersocial btn-social" href="https://www.instagram.com/GetPager" target="_blank" id="fa-instagram"> <i class="fa fa-fw fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="footersocial btn-social" href="http://twitter.com/getpager" target="_blank" id="fa-twitter"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="footersocial btn-social" href="https://www.pinterest.com/getpager/" target="_blank" id="fa-pinterest"><i class="fa fa-fw fa-pinterest"></i></a>
                                </li>
                                <li>
                                    <a class="footersocial btn-social" href="http://www.yelp.com/biz/pager-new-york" target="_blank" id="fa-yelp"><i class="fa fa-fw fa-yelp"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


            <!-- jQuery -->
        <script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>

            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>

            <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/classie.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/cbpAnimatedHeader.js")"></script>

            <!-- Contact Form JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/jqBootstrapValidation.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/contact_me.js")"></script>

            <!-- Custom Theme JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/internal.js")"></script>


    </body>

</html>