@(title: String)(implicit messages: Messages, requestHeader: RequestHeader)

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage"
xmlns:og="http://ogp.me/ns#"
xmlns:fb="https://www.facebook.com/2008/fbml"
lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">

        <meta name="description" content="Learn your risk for heart disease, stroke, and diabetes. A Registered Pager Nurse will perform a Health Check at your home, office, or hotel. Learn more. "/>
        <link rel="canonical" href="https://pager.com/health-check-screening.html" />
        <meta name="keywords" content="pager health check, health screening, nurse to your home, on-demand health screening, "/>
        <meta name="robots" content="index, follow"/>
        <meta name="language" content="en-us"/>
        <meta name="author" content="">

            <!---// Open Graph Tags -->
        <meta property="og:title" content="Pager Health Check: Nurse Performed Health Screening"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://pager.com/img/pager-blood-pressure-mom-daughter-fb-og-1200x1200.jpg"/>
        <meta property="og:image:type" content="image/jpg"/>
        <meta property="og:url" content="https://pager.com/health-check-screening.html"/>
        <meta property="og:site_name" content="Pager" />
        <meta property="og:description" content="Learn your risk for heart disease, stroke, and diabetes. A Registered Pager Nurse will perform a Health Check at your home, office, or hotel. Learn more. "/>
        <meta property="og:locale" content="en_US" />
        <meta property="fb:admins" content="621670044567977"/>

            <!---// Twitter Cards -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="https://pager.com/health-check-screening.html"/>
        <meta name="twitter:title" content="Pager Health Check: Nurse Performed Health Screening"/>
        <meta name="twitter:description" content="Learn your risk for heart disease, stroke, and diabetes. A Registered Pager Nurse will perform a Health Check at your home, office, or hotel. Learn more."/>
        <meta name="twitter:image" content="http://pager.com/img/pager-homepage-tw-750x560.jpg"/>

            <!---// Schema Microdata WebPage -->
        <meta itemprop="name" content="Pager"/>
        <meta itemprop="url" content="https://pager.com/health-check-screening.html"/>
        <meta itemprop="description" content="Learn your risk for heart disease, stroke, and diabetes. A Registered Pager Nurse will perform a Health Check at your home, office, or hotel. Learn more."/>
        <meta itemprop="image" content="https://pager.com/img/pager-blood-pressure-mom-daughter-fb-og-1200x1200.jpg"/>

        <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom CSS -->
        <link href="@routes.Assets.versioned("stylesheets/landing.css")" rel="stylesheet">

            <!-- Custom Fonts -->
        <link href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/hover.css")" rel="stylesheet" media="all">

            <!--Custom animation-->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/animation.css")">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/normalize.css")"/>

        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/pager-favicon-orange.png")">

            <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
                window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
                    $.src="//v2.zopim.com/?2Ac0CRYhmYK68ccMqh1tIjYKmAKn1in7";z.t=+new Date;$.
                            type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
        </script>
            <!--End of Zopim Live Chat Script-->

            <!--Enable optimizely-->
        <script src="//cdn.optimizely.com/js/1189750258.js"></script>
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="page-top" class="index">

            <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-54C8WV"
        height="0" width="0" style="display:none ; visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-54C8WV');</script>
            <!-- End Google Tag Manager -->

            <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
            <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span></span></a>

                    <a class="navbar-brand page-scroll hvr-pulse " href="https://pager.com/"><img id="logonav" alt="..." src="@routes.Assets.versioned("images/new-pager-logo.png")"></a>

                    <div class="navheadercontainer hidden-sm hidden-xs">
                        <p class="navheader">Call us from 8 AM - 10 PM at: 1-888-571-8629</p>
                    </div>

                    <div class="pull-right">
                        <a href="https://getcare.pager.com/#/login" id="schedulevst" class="btn btn-default hvr-radial-out">
                            Request A Visit</a>
                    </div>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/services.html">Services</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/for-business.html">For Business</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/doctors.html">Doctors</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/pricing.html">Pricing</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/about.html">About Us</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/support.html">Support</a>
                        </li>
                    </ul>
                    <br>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container-fluid -->
        </nav>

            <!-- Header  -->
        <header class="healthcheck">
            <div id="headerlayer" class="container" style="height:550px ;">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <div class="intro-text">
                            <a class="hvr-pulse" href="https://pager.com/"><img class="toplogo" alt=".." src ="@routes.Assets.versioned("images/new-pager-logo-white.svg")"></a>
                            <h1 style="margin-top:50px ;">Complimentary Health Check</h1>
                                <!--mobile copy <h1>On-Demand Urgent Care</h1> -->
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2>Schedule a free welcome visit without leaving your home using promo code <strong>
                                        HEALTHCHECK</strong>.</h2>
                                </div>
                            </div>

                                <!-- text button
                            <div class="list-container">
                                <ul class="bullets">
                                    <li>See a Nurse within 2 hours</li>
                                    <li>7 days a week, 8am to 10pm</li>
                                    <li>Free with code HEALTHCHECK</li>
                                </ul>
                            </div>
                        -->

                            <a style="margin-top:30px ;" href="https://getcare.pager.com/#/login" class="btn btn-primary hvr-wobble-vertical page">
                                Schedule Your Visit</a>


                                <!-- text button -->
                            <div class="row visible-xs" style="margin-top:34px ;">
                                <div class="col-xs-12">
                                    <a class="call_us" href="tel:+18885718629"><i class="fa fa-fw fa-phone"></i>
                                        Call Us Now</a>
                                </div>
                            </div>


                            <div class="row hidden-xs" style="margin-top:34px ;">
                                <div class="col-xs-12">
                                    <p style="color:#fff ;"> Need help? Call Us at 1-888-571-8629</p>
                                </div>
                            </div>
                                <!-- text button end -->
                                <!-- call button --
                            <div class="callcontainer visible-xs">
                            <a class ="btn btn-call"href="tel:+18885718629">Or Call Us Now</a>
                            </div>
                <!--call button end-->


                        </div>
                    </div>
                </div>
            </div>

        </header>

            <!-- Body Start-->
            <!-- Generic Blurb Section START-->
        <div class="container">
            <div class="row" style="margin-top:30px ; margin-bottom:30px ;">
                <div class="col-sm-12 col-md-offset-1 col-md-10">
                    <h3 style="margin:15px 0px 18px 0px ;">What is a Health Check?</h3>
                    <p>
                        The Pager Health Check is a short screening performed by a Registered Nurse to give you an assessment of your overall health and wellness. The Health Check will identify your risk for <span style="font-weight:bold ;">
                        heart disease, stroke,</span> and  <span style="font-weight:bold ;">diabetes</span>
                        – three of the most common health problems in the United States.
                    </p>
                    <p>
                        Empower yourself and your family by knowing your numbers and minimizing your risks. Pager makes it convenient by coming to you, so you can avoid the hassle of the doctor’s office and busy waiting room.
                    </p>
                </div>
            </div>
        </div>
            <!-- Generic Blurb Section END-->

            <!-- Body Start-->
        <div class="container">
            <div class="row" style="margin-top:10px ; margin-bottom:50px ;">
                <div class="col-sm-12 col-md-offset-1 col-md-10">
                    <h3 style="margin:15px 0px 18px 0px ;">What Does A Health Check Include?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="valueicon" id="valueicon1" alt="physicals" title="Pager Convenient Icon" src="@routes.Assets.versioned("images/icons/physicals-icon.png")">
                    <h4>Consultation</h4>
                    <p>Review of Family and Medical History to Assess Your Risk
                    </p>
                    <br>
                </div>
                <div class="col-sm-4">
                    <img class="valueicon" id="valueicon2" alt="A white, grey, and orange icon of a person with arms raised with an orange heard in the chest area." title="Pager Quality Icon" src="@routes.Assets.versioned("images/icons/scale-icon-200x200.png")">
                    <h4>Body Measurements</h4>
                    <p>Height, Weight and<br>Body Mass Index (BMI)
                    </p>
                    <br>
                    <p>
                </div>
                <div class="col-sm-4">
                    <img class="valueicon" id="valueicon3" alt="A white, grey, and orange icon of a piggy bank with orange coins above it." title="Pager Affordable Icon" src="@routes.Assets.versioned("images/icons/screenings-campaign-icon.jpg")">
                    <h4>Immediate Labwork</h4>
                    <p>Instant results for Cholesterol, Triglycerides, Glucose and Blood Pressure
                    </p>
                    <br>
                </div>
                    <!-- Blurb Underneath Module START
               <div class="col-xs-12" style="margin-top:15px;">
                    <p>Instant results for Cholesterol, Triglycerides, Glucose and Blood Pressure
                    </p>
                    <br>
                </div>
            Blurb Underneath Module END -->
            </div>
        </div>
            <!-- Generic Blurb Section END-->

            <!-- Patient Testimonials START-->
        <div itemscope itemtype="http://schema.org/WebApplication" class="container">
            <meta itemprop="operatingSystem" content="Windows XP, Windows 7, Windows 8, OS X 10+, iOS 6+, Android 2.3+">
            <meta itemprop="applicationCategory" content="Health">
            <meta itemprop="name" content="Pager">
            <div class="row" style="margin-bottom:0px ;">
                <div class="col-sm-12 col-md-offset-1 col-md-10">
                    <h3 style="margin:15px 0px 50px 0px ;">
                        What Patients are Saying
                    </h3>
                </div>
                <div class="col-sm-12 col-sm-4" itemprop="review" itemscope itemtype="http://schema.org/Review">
                    <img class="patient" src="@routes.Assets.versioned("images/patient/patient-testimonial-maria.jpg")" alt="Patient">
                    <h4 itemprop="author">Maria S.</h4>
                    <p><span itemprop="name">
                        “It was GREAT! Couldn't have asked for better service. So much better than having to go to the ER.”</span></p>
                    <br>
                </div>
                <div class="col-sm-12 col-sm-4" itemprop="review" itemscope itemtype="http://schema.org/Review">
                    <img class="patient" src="@routes.Assets.versioned("images/patient/patient-testimonial-sarah.jpg")" alt="Patient">
                    <h4 itemprop="author">Sarah S.</h4>
                    <p><span itemprop="name">
                        “I was so grateful to stay in bed while I was sick. Now, I'll always use Pager to have a doctor come to my apartment.”</span></p>
                    <br>
                </div>
                <div class="col-sm-12 col-sm-4" itemprop="review" itemscope itemtype="http://schema.org/Review">
                    <img class="patient" src="@routes.Assets.versioned("images/patient/patient-testimonial-photo-sophia.jpg")" alt="Patient">
                    <h4 itemprop="author">Sophia A.</h4>
                    <p><span itemprop="name">
                        “I was surprised when my doctor called the day after to make sure I was back to feeling 100%. I highly recommend this service!”</span></p>
                    <br>
                </div>
            </div>
        </div>
            <!-- Patient Testimonials END-->


            <!-- Body Start-->
        <div class="container">
            <div class="row" style="margin-top:40px ; margin-bottom:30px ;">
                <div class="col-sm-12 col-md-offset-1 col-md-10">
                    <h3 style="margin:15px 0px 18px 0px ;">Schedule and Prepare for Your Health Check</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img class="valueicon" alt="A white, grey, and orange icon of a hand holding a smartphone with a clock on it." title="Pager Convenient Icon" src="@routes.Assets.versioned("images/icons/clock-icon-200x200.png")">
                    <h4>8 Hour Fast</h4>
                    <p>Lab readings are most accurate after eight hours of fasting. Appointments in the morning, pre-breakfast, are ideal. If you cannot fast, you may still get your Health Check, but it might not be the most accurate.
                    </p>
                    <br>
                </div>
                <div class="col-sm-6">
                    <img class="valueicon" alt="A white, grey, and orange icon of a person with arms raised with an orange heard in the chest area." title="Pager Quality Icon" src="@routes.Assets.versioned("images/icons/2-Phone-Checkmark.png")">
                    <h4>Schedule a Health Check</h4>
                    <p>Schedule a Health Check at your home or office through the Pager iOS app or on this page. Select a time that works well for you and a nurse will call you to coordinate.
                    </p>
                    <p>
                </div>

                <div class="col-xs-12" style="margin-top:15px ; margin-bottom:50px ;">
                    <p> For a limited time, receive a free screening (regularly $75) with the code <span style="font-weight:bold ;">
                        HEALTHCHECK</span>.
                    </p>
                </div>
            </div>
        </div>


            <!-- Generic Blurb Section END-->
            <!-- Our Benefits START
        <div class="container">
            <div class="row copy" style="margin-top:70px;">
                <div class="col-sm-4">
                    <img class="valueicon" id="valueicon1" alt="A white, grey, and orange icon of a hand holding a smartphone with a clock on it." title="Pager Convenient Icon" src="https://pager.com/img/icons/pager-convenient-icon-200x200.png">
                    <h4>Convenient</h4>
                    <p>Skip the frustration of the waiting room and see a doctor in your home, office or hotel in less than two hours.
                    </p>
                    <p>
                    <a class="centerlink hvr-icon-wobble-horizontal" href="services.html">Learn More</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <img class="valueicon" id="valueicon2"  alt="A white, grey, and orange icon of a person with arms raised with an orange heard in the chest area." title="Pager Quality Icon" src="https://pager.com/img/icons/pager-effective-icon-200x200.png">
                    <h4>Quality</h4>
                    <p>Get personalized attention for you and your family from a board-certified, vetted emergency care doctor.
                    </p>
                   <p>
                    <a class="centerlink hvr-icon-wobble-horizontal" href="doctors.html">Learn More</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <img class="valueicon" id="valueicon3" alt="A white, grey, and orange icon of a piggy bank with orange coins above it." title="Pager Affordable Icon" src="https://pager.com/img/icons/pager-affordable-icon-200x200.png">
                   <h4>Affordable</h4>
                    <p>Transparent pricing with no hidden fees. Starts at $50 and is reimbursed by most health plans.
                    </p>
                    <p>
                    <a class="centerlink hvr-icon-wobble-horizontal" href="pricing.html">Learn More</a>
                    </p>
                </div>
            </div>
        </div>
    Our Benefits END-->

            <!-- Steps START
            <div style="background-color:#f5f5f6;">
            <div class="container">
                    <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3>Using the Pager app</h3>
                    </div>
                </div>
                    <div class="row copy">
                        <div class="col-xs-12 col-sm-4">
                            <a href="#"><img class="doctors" src="https://pager.com/img/how-pager-works-step-1-300x300.png" alt="A mother and her kids looking with smartphone in hand downloading the Pager app." title="How Pager Works Step 1"></a>
                            <br>
                            <p style="margin-bottom:30px;"><a class="page" href="https://getcare.pager.com/#/login">Request a Visit</a> or <a class="page" href="https://itunes.apple.com/us/app/pager-doctor-house-calls-on/id864058356?mt=8" target="_blank">Download the App</a>
                            </p>
                        </div>
                        <div class="col-sm-12 col-sm-4">
                            <a href="#"><img class="doctors" src="https://pager.com/img/how-pager-works-step-2-300x300.png" alt="A view of a user's location from Google Maps." title="How Pager Works Step 2"></a>
                            <br>
                            <p style="margin-bottom:30px;">Request a visit to your home or office.
                            </p>
                        </div>
                        <div class="col-sm-12 col-sm-4">
                             <a href="#"><img class="doctors" src="https://pager.com/img/how-pager-works-step-3-300x300.png" alt="A Pager house call doctor treating a woman in her own home." title="How Pager Works Step 2"></a>
                           <br>
                            <p>A doctor will arrive in less than 2 hours.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    Steps END-->

            <!-- Our Services START
        <div class="servicesection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 style="color:#fff;">For the entire family</h3>
                    </div>
                </div>
                <div class="row">
                        <div class="col-sm-offset-2 col-sm-4">
                            <div class="servicesheading">
                                <img class="serviceicon"  alt="..." src="https://pager.com/img/adulticon.png">
                                <h4 class="serviceh3">Adults</h4>
                                <p class="servicetext">Get immediate relief when you’re sick or injured.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="servicesheading">
                                <img class="serviceicon"  alt="..." src="https://pager.com/img/childicon.png">
                                <h4 class="serviceh3">Children</h4>
                                <p class="servicetext">Help your child get better, faster with specially trained doctors.
                                 </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-sm text-center">
                         <a class="centerlink2 hvr-icon-wobble-horizontal" href="services.html">Learn More</a>
                    </div>
                </div>
                <p style="font-size:15px; color:#fff; padding-bottom:10px; padding-top:10px;">Please call 911 in case of an emergency.</p>
            </div>
   Our Services END-->

            <!-- Pricing Module START-->
        <div class="container">
            <div class="row copy text-center">
                <a id="bottom-cta" href="https://getcare.pager.com/#/login" class="btn btn-primary hvr-wobble-vertical page btm-cta-1">
                    Schedule Your Visit</a>
            </div>
        </div>
            <!-- Pricing Module END-->

            <!-- Footer -->
        <footer class="text-center">
            <div class="footer-above" style="background-color:#424242 ;">
                <div class="container">
                    <div id="footercontainer">
                        <div>
                            <div class="col-xs-12 col-sm-12 col-md-5">
                                <ul class="linkcontainer">
                                    <li>
                                        <a class="footersocial btn-social" href="https://www.facebook.com/GetPager" target="_blank" id="fa-facebook"><i class="fa fa-fw fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="footersocial btn-social" href="https://www.instagram.com/GetPager" target="_blank" id="fa-instagram"> <i class="fa fa-fw fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a class="footersocial btn-social" href="http://twitter.com/getpager" target="_blank" id="fa-twitter"><i class="fa fa-fw fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="footersocial btn-social" href="https://www.pinterest.com/getpager/" target="_blank" id="fa-pinterest"><i class="fa fa-fw fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a class="footersocial btn-social" href="http://www.yelp.com/biz/pager-new-york" target="_blank" id="fa-yelp"><i class="fa fa-fw fa-yelp"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                            <!--End mc_embed_signup-->
                        <div class="col-xs-12 col-sm-12 col-md-7">
                            <ul class="linkcontainer">
                                <li>
                                    <a class="footerlink" href="https://boards.greenhouse.io/pager?t=kf058s#.VSfhdBPF_0s" target="_blank">
                                        Careers</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/terms.html">Terms</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/privacy.html">Privacy</a>
                                </li>
                                <li>
                                    <a href="https://itunes.apple.com/us/app/pager-doctor-house-calls-on/id864058356?mt=8" target="_blank" > <img style="width:150px ; margin-top:0px ; " src="https://pager.com/img/applebadge.svg" alt=".."></a>
                                </li>
                                <li>
                                    <p class="hidden-xs" style="font-size:17px ;">
                                        Available from 8am - 10pm
                                    </p>
                                    <p class="footertext visible-xs">
                                        Available from 8am - 10pm
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:0px ;">
                    <div class="footer-col">
                        <br>
                        <p style="font-size:11px ;">&copy; 2015 Pager, Inc. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>


            <!-- jQuery -->
        <script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>

            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>

            <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/classie.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/cbpAnimatedHeader.js")"></script>

            <!-- Contact Form JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/jqBootstrapValidation.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/contact_me.js")"></script>

            <!-- Custom Theme JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/pager.js")"></script>


    </body>

</html>