@(title: String)(implicit messages: Messages, requestHeader: RequestHeader)

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebSite" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">

        <title>@title</title>
        <meta name="description" content="$50 for the first doctor visit, and $200 per visit afterwards. Treatment over the phone is only $25. Fees reimbursable under most insurance plans."/>
        <meta name="keywords" content="pager pricing, pager prices, pager app prices, doctor house call prices, doctor home visit pricing, insurance reimbursement"/>
        <meta name="robots" content="index, follow"/>
        <meta name="language" content="en-us" />
        <link rel="canonical" href="https://pager.com/pricing.html" />
        <link rel="publisher" href="https://plus.google.com/101236825855071197223/about?hl=en"/>

            <!---// Open Graph Tags -->
        <meta property="og:title" content="Pricing, Billing, and Insurance Information for Our Services"/>
        <meta property="og:type" content="product"/>
        <meta property="og:image" content="https://pager.com/img/pager-homepage-fb-og-1200x1200.jpg"/>
        <meta property="og:image:type" content="image/jpg"/>
        <meta property="og:url" content="https://pager.com/pricing"/>
        <meta property="og:site_name" content="Pager" />
        <meta property="og:description" content="Pager is just $49 for the first doctor visit, and $199 per visit afterwards. If you end up needing to be treated over the phone the charge is only $25. Fees are reimbursable under most insurance plans as an out-of-network provider. Soon, Pager will be in-network for many plans."/>
        <meta property="og:locale" content="en_US" />
        <meta property="fb:admins" content="621670044567977"/>

            <!---// Twitter Cards -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="https://pager.com/pricing.html"/>
        <meta name="twitter:title" content="Pricing, Billing, and Insurance Information for Our Services"/>
        <meta name="twitter:description" content="Learn how Pager's pricing works and how to get reimbursed by your insurance company. See a comparison to other providers. Only $50 for your first visit. Learn More."/>
        <meta name="twitter:image" content="https://pager.com/img/pager-homepage-tw-750x560.jpg"/>

            <!---// Schema Microdata WebSite -->
        <meta itemprop="name" content="Pager"/>
        <meta itemprop="url" content="https://pager.com/pricing"/>
        <meta itemprop="description" content="Get personal medical care anywhere in NYC for you and your loved ones from a trusted board-certified doctor within 2 hours. Only $50 for the 1st visit. Learn More."/>
        <meta itemprop="image" content="https://pager.com/img/pager-homepage-tw-750x560.jpg"/>

        <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom CSS -->
        <link href="@routes.Assets.versioned("stylesheets/internal.css")" rel="stylesheet">

            <!-- Custom Fonts -->
        <link href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/hover.css")" rel="stylesheet" media="all">

            <!--Custom animation-->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/animation.css")">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/normalize.css")"/>

        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/pager-favicon-orange.png")">

            <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
                window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
                    $.src="//v2.zopim.com/?2Ac0CRYhmYK68ccMqh1tIjYKmAKn1in7";z.t=+new Date;$.
                            type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
        </script>
            <!--End of Zopim Live Chat Script-->

            <!--Enable optimizely-->
        <script src="//cdn.optimizely.com/js/1189750258.js"></script>

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="page-top" class="index">

            <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-54C8WV"
        height="0" width="0" style="display:none ; visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-54C8WV');</script>
            <!-- End Google Tag Manager -->


            <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span></span></a>

                    <a class="navbar-brand page-scroll hvr-pulse" href="https://pager.com/"><img id="logonav" src="@routes.Assets.versioned("images/new-pager-logo.png")" alt=".."></a>

                    <div class="navheadercontainer hidden-sm hidden-xs">
                        <p class="navheader">Available in NYC and San Francisco every day from 8AM to 10PM</p>
                    </div>

                    <div class="pull-right">
                        <a href="https://getcare.pager.com/#/login" id="schedulevst" class="btn btn-default hvr-radial-out">
                            Request a Visit</a>
                    </div>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/services.html">Services</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/doctors.html">Doctors</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/pricing.html">Pricing</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/for-business.html">For Business</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/about.html">About Us</a>
                        </li>
                        <li class="page-scroll">
                            <a href="https://pager.com/support.html">Support</a>
                        </li>
                    </ul>
                    <br>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container-fluid -->
        </nav>

            <!-- Header -->
        <header class="priceheader">
            <div id="headerlayer" class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="intro-text">
                            <h1>Pricing</h1>
                            <h2>Simple. Because that's how healthcare should be.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

            <!-- Body Start-->
        <div class="container">
            <div class="row rowstyle2">
                <div class="col-xs-12 col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color:#f48239 ; border-color:#f48239 ;">
                            First-Time Urgent Care Visit</div>
                        <div class="panel-body">
                            <p class="price2" style="color:#f48239">$50</p>
                            <p>For first-time patients, discounted pricing covers everything included in a regular visit. Does not include physicals or screenings. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading" style>Regular Urgent Care Visit</div>
                        <div class="panel-body">
                            <p class="price2">$200</p>
                            <p>Includes any on-site testing, treatments, surgical sutures and first-dosage of most prescriptions. Does not include x-rays or lab tests.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading" style>Physicals</div>
                        <div class="panel-body">
                            <p class="price2">$100</p>
                            <p>Includes any paperwork needed for office, school or camp approval. Plus, screenings on blood pressure, cholesterol, glucose and body.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading" style>
                            Prescription Delivery
                        </div>
                        <div class="panel-body">
                            <p class="price2">$0</p>
                            <p>
                                Visit includes complimentary prescription delivery to your door. Prescription is filled by preferred pharmacy and prescription cost is added to your bill.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:50px ;">
                <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                    <p>
                        Pager bills on behalf of doctors for the services provided.
                        At this time we do not directly accept insurance,
                        but we can submit to your insurance company for reimbursement on your behalf as an out-of-network provider.
                    </p>
                </div>
            </div>
        </div>


            <!-- What is pager's pricing-->

        <div style="background-color:#f5f5f6 ;">
            <div class="container">
                <div class="row rowstyle">
                    <div class="col-xs-12 col-sm-4">
                        <h4>Straightforward</h4>
                        <p>Pager costs $50 for the first visit, and $200 per visit afterwards. If you end up only needing to be treated over the phone, the charge is only $25.</p>
                        <br>
                    </div>
                    <div class="col-sm-12 col-sm-4">
                        <h4>Transparent</h4>
                        <p>You’ll always know the cost of the visit up front, and you approve charges for external services (like lab tests) in advance. Never worry about hidden fees.
                        </p>
                        <br>
                    </div>
                    <div class="col-sm-12 col-sm-4">
                        <h4>Insurance-Friendly</h4>
                        <p>While we don’t accept insurance at this time, most insurance plans reimburse members partially or fully for preventive care services, including the flu shot.
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>

            <!-- Pager reimbursement-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 text-center">
                    <h3>How does reimbursement for Pager work?</h3>
                </div>
            </div>
            <div class="row copy">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <ul class="list">
                        <li><p class="left-align">
                            When you register, you enter your relevant insurance and credit card information.
                        </p>
                            <br>
                        </li>
                        <li>
                            <p class="left-align">
                                At the completion of your care, you pay the price you saw upfront, billed to your credit card.
                            </p>
                            <br>
                        </li>
                        <li>
                            <p class="left-align">
                                Pager sends you an itemized receipt with everything you need to submit for reimbursement. If you prefer, Pager’s support team can automatically submit the reimbursement requests for you.
                            </p>
                            <br>
                        </li>
                        <li>
                            <p class="left-align">
                                Your insurance company will reimburse you based on your individual plan.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <footer>
            <div class="footer-above" style="background-color:#f5f5f6 ;">
                <div class="container">
                    <div class="row" style="margin-bottom:40px ;">
                        <div class="col-xs-12 col-sm-5 col-md-7">
                            <ul class="linkcontainer">
                                <li>
                                    <a class="footerlink" href="https://boards.greenhouse.io/pager?t=kf058s#.VSfhdBPF_0s" target="_blank">
                                        Careers</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/terms.html">Terms</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/privacy.html">Privacy</a>
                                </li>
                                <li>
                                    <a class="footerlink" href="https://pager.com/about.html">About Us</a>
                                </li>
                            </ul>

                            <p class="footertext hidden-xs">
                                Available from 8am - 10pm
                            </p>
                            <p class="footertext visible-xs">
                                Available from 8am - 10pm
                            </p>
                            <p class="footertext">&copy; 2015 Pager, Inc. All rights reserved.</p>
                        </div>

                        <div class="col-xs-12 col-sm-7 col-md-5">
                            <ul class="linkcontainer2">
                                <li>
                                    <a class="footersocial btn-social" href="https://www.facebook.com/GetPager" target="_blank" id="fa-facebook"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="footersocial btn-social" href="https://www.instagram.com/GetPager" target="_blank" id="fa-instagram"> <i class="fa fa-fw fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="footersocial btn-social" href="http://twitter.com/getpager" target="_blank" id="fa-twitter"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="footersocial btn-social" href="https://www.pinterest.com/getpager/" target="_blank" id="fa-pinterest"><i class="fa fa-fw fa-pinterest"></i></a>
                                </li>
                                <li>
                                    <a class="footersocial btn-social" href="http://www.yelp.com/biz/pager-new-york" target="_blank" id="fa-yelp"><i class="fa fa-fw fa-yelp"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


            <!-- jQuery -->
        <script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>

            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>

            <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/classie.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/cbpAnimatedHeader.js")"></script>

            <!-- Contact Form JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/jqBootstrapValidation.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/contact_me.js")"></script>

            <!-- Custom Theme JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/internal.js")"></script>

    </body>

</html>
